# filetypes to ignore
*.pyc
.DS_store
*.swp

# build files/directories to ignore
/dist/
/build/
/.cache/
/*.egg-info/
/.eggs/
__pycache__/
/.coverage
.pytest_cache/

# documentation outputs
/docs/_build/
/docs/api/
!/docs/api/gwdatafind.utils.rst
*.automodapi
